.cent {
    /* Centra el contenido */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.icon {
    width: 30%;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: darken;
}
.carou_img{
    padding-left: 15%;
    padding-right: 15%;
}

@media (max-width: 576px) {
    .cent {
        /* Centra contenido cuando la pantalla mida menos de 576 px */
        display: flex;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
    }
    /* .carou_img{
    
    } */
}

/* botones navbar */
.cta {
    position: relative;
    margin: auto;
    padding: 10px 14px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 60px;
    background: #b1dae7;
    width: 0px;
    height: 45px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 70%;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 95%;
    background: #b1dae7;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.75);
}

/* fin botones navbar */