/* botones navbar */
.cta {
    position: relative;
    margin: auto;
    padding: 10px 14px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 60px;
    background: #b1dae7;
    width: 0px;
    height: 45px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 70%;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 95%;
    background: #b1dae7;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.75);
}

/* fin botones navbar */

.cent {
    /* Centra el contenido */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.icon {
    width: 30%;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: darken;
}

.carou_img {
    padding-left: 15%;
    padding-right: 15%;
    /* paddings dan el espacio a los lados, con porcentaje para que se adapte bien */
    align-items: center;
    /* alinea las imagenes al centro de la pantalla */
}

.wa {
    margin-top: 20%;
    background-color: rgb(8, 87, 206)
}

/* formulario */
.form {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
}

.form .title {
    color: royalblue;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form input {
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding: 8px 14px;
    border-radius: 8px;
    width: 100%;
    height: 50px;
}

.form textarea {
    border-radius: 8px;
    height: 100px;
    width: 100%;
    resize: none;
    outline: 0;
    padding: 8px 14px;
    border: 1px solid rgb(219, 213, 213);
}

.form button {
    align-self: flex-end;
    padding: 8px;
    outline: 0;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    background-color: royalblue;
    color: #fff;
    cursor: pointer;
}




/* ajuste pantalla menor tamaño */
@media (max-width: 576px) {
    .cent {
        /* Centra contenido cuando la pantalla mida menos de 576 px */
        display: flex;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
    }

    /* .carou_img{
    
    } */
}